################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/PDFTextReplacer/bin/Debug
/PDFTextReplacer/obj/Debug
/PDFTextReplacer.Console/bin/Debug
/PDFTextReplacer.Console/obj/Debug
